/* Button Overrides */
.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: #015a06;
    border: #015a06;
    color: #ffffff;
}

/* Footer overrides */
.footer h3 {
    margin-top: 32px;
    color: #015a06;
    margin-bottom: 10px;
}

.footer li a {
    text-decoration: none !important;
}
